services:
    app:
        build:
            context: .
            dockerfile: ./build/Dockerfile
        ports:
            - "8082:8082"
        environment:
            - CONFIG_PATH=./config/local.yaml
        volumes:
            - ./storage:/app/storage
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "wget", "--no-verbose", "--spider", "http://localhost:8082/health"]
            interval: 10s
            timeout: 5s
            retries: 3